@model Dementors.Model.WorkoutSession
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<fieldset class="form-control-workout">
    <h2 class="form-control-workout-h2">Workout</h2>
    @using (Html.BeginForm())
    {
        <p>
            <div class="form-control-workout-userid-label">
                @Html.LabelFor(x => x.UserId)
            </div>
            <div class="form-control-feedback-userid-input">
                @Html.EditorFor(x => x.UserId)
            </div>
        </p>
        <p>
            <div class="form-control-workout-timespent-label">
                @Html.LabelFor(x => x.TimeSpent)
            </div>
            <div class="form-control-workout-timespent-input">
                @Html.TextAreaFor(x => x.TimeSpent)
            </div>
        </p>
        <p>
            <div class="form-control-workout-workouttype-label">
                @Html.LabelFor(x => x.WorkoutType)
            </div>
            <div class="form-control-workout-workouttype-input">
                @Html.TextAreaFor(x => x.WorkoutType)
            </div>
        </p>
        <p>
            <div>
                <button type="submit">Send Feedback</button>
            </div>
        </p>
    }
</fieldset>